#mainbox{
    height: 100vh;
    width: 100%;
    
}

h2{
color: red;
font-size: 28px;

}
h3{
    
    font-size: 30px;
    padding-top: 50px;
    
}
ul{
    height: 150px;
    width: 100%;
    background-color:palegreen; 
    padding: 5px;
    position: sticky;
    top: 0px;
}
li{
    display: inline-block;
    list-style-type: none;
    padding-left: 150px;
    font-size: 20px;
    
}

#flex{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
img{
    height: 300px;
    width: 300px;
    justify-content: center;
}
a:hover{
    color: red;
    font-weight: bolder;
    
}
.foodd{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}